body {
  padding-top: 20px;
  padding-bottom: 20px;
    background-image: url('../img/section.jpg');
    //background-image: url('../img/background.jpg');
}

.header {
    height: 80px;
}

.nav {
    padding: 10px;
    background-color: #DDD;
    margin-bottom: 0px;
}
.content {
}

.search-thing {
    height: 400px;
}

.result-title h1 {
    color: #EEE;
    font-weight: bold;
}

.search-left {
    background-color: #EEE;
    height: 600px;
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
}

.results {
    background-color: white;
    height: 600px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.results hr {
    border-color:#EEE;
        // border-style: dotted;
}

.result-item {
    padding: 20px;
}

.result-descr {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.result-readmore {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.result-img {
 padding: 10px;
}

.result-data {

}
.result-data a {
    color: #ED903E;
    //color: #358A24;
    //color: #9c6619;
}

.result-details {
    color:gray;
    font-size: 12px;
    padding-right: 15px;
}