/**
 * ... print css
 * 
 * @author .. / peppered.nl
 * 
 */

.print {
	
}


/* sIFR */
.sIFR-flash {
display    : none !important;
height     : 0;
width      : 0;
position   : absolute;
overflow   : hidden;
}

.sIFR-alternate {
visibility : visible !important;
display    : block   !important;
position   : static  !important;
left       : auto    !important;
top        : auto    !important;
width      : auto    !important;
height     : auto    !important;
}
