/*-- Theater Vredenburg     --*/
/*-- powered by Peppered    --*/
/*-- www.Peppered.nl        --*/
/*-- Versie 2.00 - 2009     --*/
/*-- Auteur: Lieselot       --*/

/*-- Laatst gewijzigd door Lieselot  --*/

/**
 * kleur rood tekst   df2626
 * 
 */

/* --- some defaults --- */
html                        { height: 100%; width:100%; overflow: auto; } /*+ie7c*/
body                        { height: 100%; width:100%; background: black; font: normal 0.89em/1.4 arial, verdana, helvetica, sans-serif; /* overflow: auto; disabled (cb) */ }
h1, h2, h3, h4, h5, h6      { font: bold 1em/1.4em arial, verdana, helvetica, sans-serif; }
.bold                       { font-weight: bold; margin-top: 5px; }
.cursief                    { font-style: italic; }
p, .p                       { font: normal 1em/1.4em arial, verdana, helvetica, sans-serif; }
.contentItem h3.redDash,
.showDetail h3.contentText  { color: #df2626; font-size: 2em; font-weight: bold; text-transform: uppercase; line-height: 1em; letter-spacing: -0.005em; }
.contentItem                { background: #fff; float: left; width: 465px; padding: 12px; position: relative;}
/*.contentItem .richtext      { margin-top: 26px!important;} werkt niet bij festivals overzicht tekst*/ 
#content h2                 { color: #fff; text-transform: uppercase; font-weight:bold; font-size: 1.4em; }

/* links */
a:link, a:visited 	        { color: #df2626; }
a:link:focus, a:visited:focus, a:link:hover,
a:visited:hover, a:link:active, a:visited:active { color: #000; }

.BlackRed a:link, .BlackRed a:visited 	{ color: #000; }
.BlackRed a:link:focus, .BlackRed a:visited:focus, .BlackRed a:link:hover,
.BlackRed a:visited:hover, .BlackRed a:link:active, .BlackRed a:visited:active { color: #df2626; }

/* --- dash --- */
.redDash, .richtext .rood-streepje,
.showDetail .contentText{ background: transparent url(/images/hr_red.gif) no-repeat top left; padding-top: 6px!important; }
.contentItem-dash       { background: #fff url(/images/streep_wit.gif) no-repeat -4px -4px; float: left; width: 465px; padding: 12px; margin: 15px 0 15px 0; }
.dash                   { float: left; background-image: url(/images/streep_wit.gif);  background-repeat: no-repeat; background-position: -0px -0px; padding-top: 16px; margin: 0 0 15px 0; }
.dash h2                { margin-bottom: 12px; float: left; }
#bodyConcerten .dash h2 { width: 435px; }
#bodySitemap .dash      { margin-bottom: 0px;}
.dash .contentItem      { margin-bottom: 18px; }
#bodyConcerten .showDetail #subTitle	{ font-size:1.7em;font-weight:bold; background: none; padding:0 !important; margin:0; }

/* --- lay-out --- */
#main                   { z-index: 2; width: 100%; min-height: 100%; height: 100% !important; position: relative; }
#headerColomn           { margin-left: 245px; position: absolute; width: 489px; top: 20px; left: 0px;}
#mainColumn             { height: 100%; position: relative; width: 489px; left: 245px; top: 110px; float: left; }
#menuColumn             { position: absolute; top: 20px; left: 20px; width: 205px; }
#subColumn              { width: 205px; position: absolute; top: 20px; left: 755px; float: left;  }
#footer                 { float: left; width: 489px; margin-top: 12em; margin-left: 245px; clear: both;  font-size: 0.8em;} /* ie6 fix */
#footer p               { background: #fff; text-align: left; padding: 4px 12px;}
#content                { float: left; min-height: 500px; width: 100%; }

.socialbox		{ position: relative; height: 90px; }
.fb-like-box 	{ position: absolute!important; top: 0px; left: -8px; }
.twitter-follow { padding-top: 64px; }

#main .slideshow        { z-index: 10; position: relative;}

.pagina .extraTemplate .contentItem     { margin-bottom: 12px;  position: relative;}
.pagina .extraTemplate .contentItem input.submit    { position: absolute;  bottom: 20px; right: 10px; float: right; text-decoration: none; }
.pagina .contentItem                    { margin-bottom: 0px; }
.pagina .requiredText                   { font-size: 0.9em; text-align: left; width: 150px; float: left; margin-top: 12px; }
.pagina #verhuurForm label              { font-size: 0.9em; width: 15em;}
.pagina .richtext                       { margin-top: 12px;}
.pagina #educatieInschrijfForm label    { font-size: 0.9em; width: 15em;}
.pagina .richtext .grayBlock            { float: left; width: 94%; background: #f3f3f3; margin-top: 0.5em; padding: 3%; }
.pagina .richtext .grayBlock  h3        { font-weight: bold; font-size: 1.2em; margin: 0px;  }
.pagina .contentItem img                { margin-bottom: 12px; }
.pagina .fotoBig img                    { margin-bottom: 0px!important; }

/* --- h2 titels images ---- */
h2#imgNieuws,
h3#imgNieuws            { background: transparent url(/images/nieuws_titel.gif) no-repeat -3px 0; text-indent: -6666666px; display: block; height: 50px; width: 84px; }
h2#imginformatie,
h3#imginformatie        { background: transparent url(/images/informatie_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 121px; }
h2#imgzakelijk          { background: transparent url(/images/zakelijk_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 110px; }
h2#imgeducatie          { background: transparent url(/images/educatie_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 110px; }
h2#imgaanvraagformulier { background: transparent url(/images/aanvraagform_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 214px; }
h2#imginbeeld           { background: transparent url(/images/inbeeld_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 214px; }
h2#imgabonnementen,
h3#imgabonnementen      { background: transparent url(/images/abonnementen_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 214px; }
h2#imgabonnement        { background: transparent url(/images/abonnement_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 214px; }
h2#imgprogramma         { background: transparent url(/images/programma_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 214px; margin-top: 12px;}
h2#imgfestivals,
h3#imgfestivals         { background: transparent url(/images/festivals_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 214px; }
h2#imgfestival          { background: transparent url(/images/festival_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 214px; }
h2#imgabonBestel-a      { background: transparent url(/images/abonbestel_a.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 280px; }
h2#imgabonBestel-b      { background: transparent url(/images/abonbestel_b.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 280px; }
h2#imgabonBestel-c      { background: transparent url(/images/abonbestel_c.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 280px; }
h2#imgabonBestel-d      { background: transparent url(/images/abonbestel_d.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 280px; }
h2#imgzoekresultaten    { background: transparent url(/images/zoekresultaten_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 280px; }
h3#imgconcerten         { background: transparent url(/images/concerten_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 280px; }
h2#imgzieook            { background: transparent url(/images/zieook_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 214px; }
h2#imgsitemap           { background: transparent url(/images/sitemap_titel.gif) no-repeat -3px -6px; text-indent: -6666666px; display: block; height: 17px; width: 214px; }
h2#imginschrijfformulier{ background: transparent url(/images/inschrijfformulier_titel.gif) no-repeat -2px -6px; text-indent: -6666666px; display: block; height: 17px; width: 220px; }
h2#imggajemee           { background: transparent url(/images/imggajemee_titel.gif) no-repeat -2px -6px; text-indent: -6666666px; display: block; height: 17px; width: 220px; }
h2#imgnieuwbriefaanmelden{ background: transparent url(/images/nieuwsbriefaanmelden_titel.gif) no-repeat -2px -6px; text-indent: -6666666px; display: block; height: 17px; width: 250px; }
h2#imgGeluidsfragment   { background: transparent url(/images/titel_geluidfragmenten.gif) no-repeat -2px -6px; text-indent: -6666666px; display: block; height: 17px; width: 220px;}

/* -- bgImg -- */
#columnContainer        { float: left; width: 960px; }
#bgImgWrap              { position: fixed; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; overflow: visible; }
#bgImgWrap img          { }

/* --- sub column ---*/
#subColumn div.subItemBlock     { float: left; width: 185px; background: #fff; margin-bottom: 12px; padding: 10px;}
#subColumn ul                   { margin: 0px; }
#subColumn #meertalig ul        { float: left; list-style: none; padding: 0px; }
#subColumn #meertalig li        { display: inline; }
#subColumn #zoekbox form label  { width: auto; padding-right: 5px; }
#subColumn h2                   { text-indent: -666666px; margin-bottom: 4px;  }
#subColumn h2#kalender          { background: url(/images/titel_kalender.gif) no-repeat;}
#subColumn #kassa               { position: relative; }
#subColumn #kassa h2            { background: url(/images/titel_kassa.gif) no-repeat;}
#subColumn h2#aanrader          { background: url(/images/titel_aanrader.gif) no-repeat -1px 0;}
#subColumn h2#nieuwsbrief       { background: url(/images/titel_nieuwsbrief.gif) no-repeat;}
#subColumn address              { color: #df2626; }
#subColumn #winkelwagen h2      { background: url(/images/titel_winkelwagen.gif) no-repeat;}
#subColumn .bannerBlock .subItemBlock   { margin: 0px; padding: 0px; width: 205px; height: 200px; } 
#subColumn .bannerBlock { clear: both;}

/* --- menu --- */
ul.menu                         { font-size: 21px; font-family: "Trebuchet MS", verdana, sans-serif ; font-weight: bolder; line-height: 1.3em; text-transform: uppercase; }
ul.menu li                      { background: #ffffff; margin-bottom: 12px; }
ul.menu li a					{ display: block; min-height: 36px; line-height: 1.0; }
ul.menu li a object.sIFR-flash	{ }

ul.menu	ul						{ font-family: arial, verdana, sans-serif; font-size: 0.6778em; text-transform: none; line-height: 1.3em; }
ul.menu	ul a					{ margin-left: 10px; display: inline; background: none!important; padding: 0; line-height: 1.3em; }

ul.menu	ul ul					{ font-size: 1em; }

#menuBanners li a span			{ display: block; padding: 6px 6px 0 8px; }
#menuBanners li a.sIFR-toReplace{ padding-right: 8px; }

#menu ul                        { display: none; }
#menu ul li.active span         { margin-left: 10px; } 
#menu li a                      { background: #ffffff url(/images/menu_sprite.gif) 0 0; display: block; height: 30px; }
#menu li li                     { margin-left: 1em; margin-bottom: 0px; }
#menu li li a                   { height: auto; min-height: 0; }
#menu li.activeBlack            { margin-left: 1em; background-position: -2px 10px ; }
#menu li.activeBlack a,
#menu li.active                 { color: #df2626!important;  }
#menu li.active 
#menu li a:hover span,
#menu li.active a span          { background: none!important; cursor: pointer;}
#menu li.active ul              { display: block;  padding: 7px 0 20px 0; }
#menu li.activejs ul            { display: none; }
#menu li a span                 { display: block; text-indent: -666666px; overflow: hidden; height: 27px; }
#menu li.active ul li.active,  
#menu li.active ul li.activeBlack { background: transparent url(/images/menu_stip.gif) no-repeat 0px 5pt;  color: #000000; padding-left: 0px; }
#menu li.menuSub                { padding: 0px; height: auto!important; }
#menu li.menuSub ul             { padding: 0 0 0px 5px; }
#menu li.menuSub                { background: none!important; }
#menu li.menuSub li.activeBlack { background-position: -2px 10px ; }

/* sprite menu */
#menu li#menuHome a             { background-position: -221px  3px;}
#menu li#menuAgenda a           { background-position: -221px  -45px;}
#menu li#menuInformatie a       { background-position: -221px  -93px;}
#menu li#menuZakelijk a         { background-position: -221px  -141px;}
#menu li#menuEducatie a         { background-position: -221px  -189px;}
#menu li#menuNieuws a           { background-position: -221px  -237px;}
#menu li#menuHome a:hover       { background-position: 0px 3px;}
#menu li#menuAgenda a:hover     { background-position: 0px  -45px;}
#menu li#menuInformatie a:hover { background-position: 0px -93px;}
#menu li#menuZakelijk a:hover   { background-position: 0px -141px;}
#menu li#menuEducatie a:hover   { background-position: 0px -189px;}
#menu li#menuNieuws a:hover     { background-position: 0px -237px;}
#menu li#menuHome.active  a     { background-position: 0px 3px;}
#menu li#menuAgenda.active  a   { background-position: 0px -45px;}
#menu li#menuInformatie.active a{ background-position: 0px -93px;}
#menu li#menuZakelijk.active  a { background-position: 0px -141px;}
#menu li#menuEducatie.active  a { background-position: 0px -189px;}
#menu li#menuNieuws.active  a   { background-position: 0px -237px;}

/* sprite servicemenu */
#servicemenu li                         { text-indent: -666666px; overflow: hidden; }
#servicemenu li a                       { background: #ffffff url(/images/servicemenu_sprite.gif) 0 0; display: block; height: 19px; }
#servicemenu li#imgNieuwsbrief a        { background-position: -10px  0px;}
#servicemenu li#imgNieuwsbrief a:hover  { background-position: -239px 0px;}
#servicemenu li#imgNieuwsbrief.active a { background-position: -239px 0px;}
#servicemenu li#imgFaq a                { background-position: -10px  -17px;}
#servicemenu li#imgFaq a:hover          { background-position: -239px -17px;}
#servicemenu li#imgFaq.active  a        { background-position: -239px -17px;}
#servicemenu li#imgContact a            { background-position: -10px  -122px;}
#servicemenu li#imgContact a:hover      { background-position: -239px -122px;}
#servicemenu li#imgContact.active a     { background-position: -239px -122px;}
#servicemenu li#imgWinkelmandje a       { background-position: -10px  -139px;}
#servicemenu li#imgWinkelmandje a:hover { background-position: -239px -139px;}
#servicemenu li#imgWinkelmandje.active a{ background-position: -239px -139px;}
#servicemenu li#imgEnglish a            { background-position: -10px  -157px;}
#servicemenu li#imgEnglish a:hover      { background-position: -239px  -157px;}
#servicemenu li#imgEnglish.active  a    { background-position: -239px -157px;}

/* sprite icons * tekst button*/
.showStatus                                 { margin-top: 0.5em; position: absolute; bottom: 11px; right: 12px;}
.showStatus li a                            { background-image:url(/images/icons_sprite.png); background-repeat: no-repeat; line-height: 2em; }
.showStatus li a.icon-winkelwagen           { background-position: 0px -226px;}    
.showStatus li a.icon-winkelwagen:hover     { background-position: 0px -248px;}
.showStatus li a.icon-winkelwagenNo         { background-position: 0px -248px;}    
.showStatus li a.icon-winkelwagenNO:hover   { background-position: 0px -248px;}
.showStatus li a.icon-leesmeer              { background-position: -1px -70px; }    
.showStatus li a.icon-leesmeer:hover        { background-position: -1px -92px;}

.showStatus li a.icon-winkelwagenNo span.outer              { display: block; }
.showStatus li a span.outer,                        
.showStatus li a.icon-leesmeer span.text                    { display: none; }
.showStatus li a:hover span.outer                           { display: block; }
.showStatus li a span.outer span                            { z-index: 20; background: #fff; position: absolute; top: 2px; right: 55px; color: #000; display: block; bottom: 3px; width: 214px; font-size: 1em; height: 20px; text-align: right; line-height: 1.2em; }
.showStatus li a span.outer span.oneItem                    { right: 29px!important;}
.showStatus li a.icon-winkelwagenNo span.outer span         { color: #000!important; display: block;}
.showStatus li a.icon-winkelwagenNo span.outer span.norm    { z-index: 10; }
.showStatus li a .norm                                      { display: none;}

.showStatus li                              { float: right; padding-left: 2px; width: 25px; }
.showStatus li a                            { float: right; height: 20px; width: 20px; }
.showStatus li a:hover                      { float: right; height: 20px; width: 20px; }

#bodyZoeken #nieuwsItem ul.showStatus,
#bodyHome #nieuwsItem ul.showStatus,
#bodyNieuws #nieuwsItem ul.showStatus       { background: none; float: inherit; height: auto; margin: inherit; padding: inherit; width: auto; position: absolute; }
#bodyZoeken #nieuwsItem ul.showStatus li,
#bodyHome #nieuwsItem ul.showStatus li,
#bodyNieuws #nieuwsItem ul.showStatus li    { float: right; overflow: inherit; width: inherit; position: static; height: 20px;}
#bodyZoeken #nieuwsItem ul.showStatus,
#bodyHome #nieuwsItem ul.showStatus,
#bodyNieuws #nieuwsItem ul.showStatus       { bottom: 0px; right: 0px; }
#bodyZoeken #nieuwsItem ul.showStatus li a span.outer span,
#bodyHome #nieuwsItem ul.showStatus li a span.outer span,
#bodyNieuws #nieuwsItem ul.showStatus li a span.outer span  { height: 18px; }

a.iconSprite            { display:block; font-weight:bold; line-height:20px; margin-bottom:14px; text-decoration:none; width:auto; height:20px; float: left; }
a.iconSprite span       { background: transparent url(/images/icons_sprite.png) no-repeat 0 0; text-indent:22px; height:20px; display:block;}
a.noText                { text-indent: -666666px; width: 20px; overflow: hidden; }

.ecardbtn               { float: left; margin-top: 1em;}

a.iconSprite .icon-ecard                { background-position: -1px -115px; }
a:hover.iconSprite .icon-ecard          { background-position: -1px -137px; }
a.iconSprite .icon-leesmeer             { background-position: -1px -70px; }
a:hover.iconSprite .icon-leesmeer       { background-position: -1px -92px; }

#nieuwsItem a.iconSprite        { float: right; position: absolute; bottom: -15px; right: 0px;  }
#kassa .iconSprite              { float: right; position: absolute; bottom: 0px; right: 12px;}
.festivalOverview .iconSprite   { float: right; position: absolute; bottom: 0px; right: 12px;}
#bodyZoeken .iconSprite         { float: right; position: absolute; right: 8px; bottom: 0px; }


/* abonnementen overzicht */
.serieItems .serieItem			{ float: left; width: 100%; }
form input[type=image]			{ border: none; }
.serieItems .shopForm			{ float: left; width: 20px; margin-right: 5px; margin-top: 1px; }
.serieItems .iconSprite			{ float: left; width: 440px; margin-bottom: 5px; }
.serieItems .showDetailStatus .good	{ background: transparent url(/images/icon_good.png) no-repeat; width:25px; height:20px; float: left; text-indent: -99999999px;}

/* sprite buttons */
.btnImages                              { clear: both; }
.btnImages a                            { background: transparent url(/images/btnimages_sprite.gif) 0 0;  display: block; height: 26px; }
.btnImages a span                       { height: 26px; text-indent: -66666px; overflow: hidden; background: none;}
.btnImages p                            { margin: 0px!important;}

/*
.btnImages p.btn-meernieuws a           { background-position: -5px -5px; width: 105px; }
.btnImages p.btn-meernieuws a:hover     { background-position: -5px -38px; width: 105px; }*/
.btnImages .toRight a                   { background-position: -669px -7px; }
.btnImages .toRight a:hover             { background-position: -669px -38px; }
.btnImages .toLeft a                    { background-position: -768px -7px; }
.btnImages .toLeft a:hover              { background-position: -768px -38px; }
.btnImages .btnToonResultaten a         { background-position: -329px -6px; width: 165px; text-indent: -66666px; float: right; margin-bottom: 12px;}
.btnImages .btnToonResultaten a:hover   { background-position: -329px -39px; width: 165px; }
.btnImages .btn-meernieuws a            { background-position: -5px -6px; width: 105px; text-indent: -66666px; float: right; margin-bottom: 12px;}
.btnImages .btn-meernieuws a:hover      { background-position: -5px -39px; width: 105px; }
.btnImages .btn-annuleren a            { background-position: -867px -7px; height: 25px; width: 95px; text-indent: -66666px; float: left; margin-bottom: 12px;}
.btnImages .btn-annuleren a:hover      { background-position: -867px -39px;height: 25px;  width: 95px; }

/* text buttons */
.btnText  a                              { background: #df2626; width: auto; color: #fff; border: 0px; line-height: 1.6em; min-height: 25px; padding: 2px 5px; font-weight: bold;  text-decoration: none!important; float: right; }

/* -- nieuws news -- */
#nieuwsItem                             { margin-top: 12px; float: left;}
#nieuwsItem h3                          { color: #df2626; font-size: 1.5em; font-weight: bold; text-transform: uppercase; line-height: 1em; letter-spacing: -0.005em; margin-bottom: 8px; overflow: hidden; white-space: nowrap; }
#nieuwsItem ul                          { background: #fff; float: left; width:465px; margin: 0px 0 12px 0; padding:12px; height: 101px; }
#nieuwsItem li                          { height: 101px; width: 100%; float: left; overflow: hidden; } /* overflow needed for ie6 (sifr) */
#nieuwsItem .btn-leesMeer a             { position: absolute; bottom: 0px; right: 0px;  margin-left: 0px; }
.nieuwsDetail h2                        { color: #fff; float: left; width: 150px; background: transparent url(/images/nieuws_titel.gif) no-repeat left top;  }
.nieuwsDetail h4                        { color: #df2626; font-size: 2em; font-weight: bold; text-transform: uppercase; line-height: 1em; }
.nieuwsDetail img.detail                { margin-bottom: 12px; }
.nieuwsArchief h3.textImg               { background: transparent url(/images/kies_een_maand.gif) no-repeat left top; text-indent: -6666666px; display: block; height: 17px; width: 125px; float: left; margin-top: 4px; }
.defaultImg                             { background: #f3f3f3; width: 100px; height: 100px; position: absolute; left: 0px; top: 0px; }
.extraTemplate input.submit             { width: 100px; }
#nieuwsItem p.redDash                    { width: 320px; }


/* -- suggestions news -- */
.suggestions #nieuwsItem                { float: none; }
.suggestions #nieuwsItem ul             { float: left; height: auto; min-height: 101px;} /* ie6 fix */
.suggestions #nieuwsItem li             { height: auto; min-height: 101px; } /* ie6 fix */
.suggestions h4                         { margin-left:112px!important; color: #df2626; font-size: 1.5em; font-weight: bold; line-height: 1em; margin: 0 0 12px 0; }

/* --- overzichten default lay-out nieuws tot nu toe ---- */
.overview ul		        { margin: 12px 0; position: relative;}
.overview li 		        { position: relative; }
.overview h3,
.overview p                 { margin-left: 112px; padding: 0px;}
.overview img	            { position: absolute; top: 0px; left: 0px; }

/* -- top-navigatie nieuws & voorstellingen-- */
#voorstelling-navigatie                     { height: 17px; position: relative; float: right; width: 48px; top: 23px; margin-bottom: 12px}
#voorstelling-navigatie li                  { float: left; width: 16px;  }
#voorstelling-navigatie li a,
#voorstelling-navigatie li a span.outer     { float: left; width: 100%; height: 17px; text-decoration: none; }
#voorstelling-navigatie li a                { cursor: pointer; background: transparent url(/images/navigatie_sprite.gif) no-repeat 0 0; }
#voorstelling-navigatie li a span.outer     { display: none; }
#voorstelling-navigatie li a span span      { text-align: right; position: absolute; right: 55px; color: #fff; width: 120px; font-size: 0.8em;   }
#voorstelling-navigatie li a:hover span.outer { display: block; }
#voorstelling-navigatie a.nav_over          { background-position: -17px -22px; }
/* #voorstelling-navigatie a.nav_over:hover { background-position: -17px -1px; } momenteel geen rollover*/
#voorstelling-navigatie a.nav_prev          { background-position: -1px -22px; }
/* #voorstelling-navigatie a.nav_prev:hover { background-position: -1px -1px; } momenteel geen rollover*/
#voorstelling-navigatie a.nav_next          { background-position: -33px -22px; }
/* #voorstelling-navigatie a.nav_next:hover { background-position: -31px  -1px; } momenteel geen rollover*/

/* -- pagination -- */
#pagination 			                    { clear: both; margin: 1em 0em 17px 0em; font-weight: bold;}
#pagination ul,
#pagination ul li 		                    { display: inline; }
#pagination li.pages 		                { text-align: center; }
#pagination .pages li a 	                { background-color: #df2626; background-image: none; display: inline; color: #fff; padding: 0.25em 0.5em; width: 1.5em; height: 1.5em; line-height: 1.5em; margin: 0 3px; }
#pagination .pages li a:hover,
#pagination .pages .active a 	            { background-color: #000; text-decoration: none; background-image: none; }
#pagination .pages .active span             { background-color: #fff; padding: 0.25em 0.5em; width: 1.5em; height: 1.5em; line-height: 1.5em; margin: 0 3px;  }
.toLeft				                        { float: left; width: 95px; height: 25px;  text-align: left; display: block; }
.toRight 			                        { float: right; width: 95px; height: 25px; text-align: right; display: block;  }
.toLeft	a, .toRight	a                       { color: #fff; display: block; width: 95px; height: 25px;  }
.toLeft	a:hover,
.toRight a:hover                            { color: #fff; display: block; width: 95px; height: 25px;  }
.toLeft	span, .toRight span                 { display: none; }
.pagesInt                                   { text-align: center; color: #fff; font-weight: bold; }

/* ---- subColumn ---- */
#subColumn #zoekbox form                    { float: left; width: 100%;  }
#subColumn #zoekbox form input.text         { float: left; width:120px; height: 18px; border: 1px solid #000;  }
#subColumn #zoekbox form input.zoek         { float: left; width: 48px; padding-left: 8px; border: 0px; }

#winkelwagen .shopItem			{ float: left; width: 100%; margin: 10px 0px 0px 0px;  }
#winkelwagen h2					{ margin-bottom: 10px }
#winkelwagen h3					{ float: left; width: 150px; margin-left: 3px; ;}
#winkelwagen form				{ float: left; width: 20px; }
#winkelwagen .actions			{ float: left; margin: 20px 0px 0px 0px;  }
.abonItem						{ margin-bottom: 10px;}
.abonItem form					{ position: absolute; top: 0px; right: 10px; }
.abonItem h4					{ font-weight: bold; }

.btnLink						{ display: inline-block; width: inherit; background-color: #E02727; padding: 3px 10px; color: #fff!important; font-weight: bold; margin-top: 5px;}
.btnLink:hover					{ background: #000; }
.btnLinkIcon					{ background: #E02727 url("/images/btn_showstatus_sprite.gif") 0 1px no-repeat; padding-left: 30px!important; }
.btnLinkIcon:hover				{ background: #000 url("/images/btn_showstatus_sprite.gif") 0px -30px no-repeat; padding-left: 30px!important;}
input.btnLinkIcon				{ font-weight: bold; padding: 4px; color: #fff; float: right; border: 0px;}
.btnCancel						{ position: absolute; width: auto; top: -40px; right: 0px;  background: #fff; color: #E02727!important;}

.btnNav							{ position: absolute; top: 2px; right: 0px; font-size: 0.9em; }

.showBasket .showDetailStatus span			{ float: left; }
.showBasket .showDetailStatus li { width: 50%; float: left; }
.showBasket .showDetailStatus .btnLinkIcon	{ float: right; }
#winkelwagen .showDetailStatus				{ float: left; margin-top: 10px; }
#winkelwagen .btnLinkIcon					{ width: 118px; }
.serieItem ul.showDetailStatus { float: left; width: 24px; }
#betaalGegevensForm { float: left; }
#betaalGegevensForm em { font-size: 0.8em;  }
.text input { height: 20px;}


/* ---- in beeld ---- */
#gallerijDetail ul#voorstelling-navigatie   { top: 3px; right: 0px; }
#gallerijDetail                             { position: relative;}
#fotoGalerij,
#fotoGalerij li                             { float: left; }
#fotoGalerij a img                          { float: left; width: inherit; padding-right: 5px; padding-bottom: 5px; }

#gallerijDetail .fotoBig p                  { float: left; padding-top: 3px;  }

.mediaItem                                  { margin-bottom: 12px; }

/* ---- show---- */
h3.contentText                             { margin-top: 0!important; }
.showOverview h3                            { color: #df2626; font-size: 1.5em; font-weight: bold; line-height: 1em; margin: 8px 0 12px 0;}
.showOverview h3.artiestTitel				{ margin-bottom:0; }
.showOverview .onderTitel					{ font-weight:bold; }
.showOverview .contentItem                  { margin-bottom: 12px; position: relative;}
.showOverview .dash                         { margin-bottom: 0px; }
.showOverview .creditList,
.showOverview .creditList p                 { font-weight: normal; margin-bottom: 12px;}
.showOverview .timeList                     { margin-bottom: 0px; } /* niet mooi in concert overzicht */
.showOverview form label                    { float: none; padding: 0px; width: auto;}
.showOverview form select                   { margin-right: 12px;}
.showDetail h2                              { color: #fff; text-transform: uppercase; font-weight:bold; font-size: 1.2em;}
.showDetail #voorstelling-navigatie         { top: 8px; }
.showDetail .dash                           { margin-bottom: 0px; float: left; } /* width: 100% */
.showDetail dl                              { margin-bottom: 1.5em; float: left; width: 100%; }
.showDetail dd                              { float: left; width: 25%; font-weight: bold;}
.showDetail dt                              { float: left; width: 72%; }
#bodyConcerten .showDetail .contentText     { margin: 12px 0 12px 0;} 
.showDdetail .showDetailStatus               { float: right; width: 60%; clear: both; }
.showDetail .showDetailStatus li a,
.showDetail .showDetailStatus li span		{ background: transparent url(/images/btn_showstatus_sprite.gif) no-repeat 0 0; width: auto; padding-right: 8px; }
.showDetail .showDetailStatus li a			{ background-color: #df2626; float: right; height: 25px; margin-top: 12px; padding-left: 30px; color: #fff; font-weight: bold;  line-height: 24px; }
.showDetail .showDetailStatus li a:hover	{ background-color: #000; background-position: 0px -31px; }
.showDetail .showDetailStatus li span		{ background-color: #000; background-position: 0px -31px; float: right; height: 25px; margin-top: 12px; padding-left: 30px;  color: #fff; font-weight: bold;  line-height: 25px; width: auto; padding-right: 8px;}
.showDetail .showImg                        { margin-bottom: 12px;}
.showDetail .subHead                        { font-weight:bold; display:block;}

.showDetail .topButton .showDetailStatus li a,
.showDetail .topButton .showDetailStatus li span {margin-top:0 !IMPORTANT; margin-bottom:5px;}

.leesmeerText span.icon-leesmeer    { position: absolute; right: -34px; }
.leesmeerText span.leesmeer         { display: none; position: absolute; left: 0px; }
a:hover span.text-leesmeer          { display: block; }

/* ---- kalender ---- */
#formCalendar               { float: left; width: 100%; }
#formCalendar div.select    { float: left; width: 100%;  padding: 0px; margin: 7px 0px;}
#formCalendar select        { border: 1px solid #bfbfbf; float: left; height: 22px; width: 165px; padding: 2px;  font-size: 0.8em; text-transform: uppercase; }
#formCalendar input.image   { float: left; padding: 8px 0 0 8px;  }
table.calendar              { width: 185px; table-layout: fixed; border-spacing: 0px; border-collapse: separate; }
table.calendar td,
table.calendar th           { text-align: center; vertical-align: middle; }
table.calendar span         { display: block; padding: 4px 0; width: 17px; height: 17px; color: #989898;}
table.calendar a            { display: block; padding: 4px 0; width: 17px; height: 17px; font-weight: bold; }

/* ------- abonnementen ------ */
#bodyAbonnementen h4                            { font-size: 1.4em; color: #000; margin: 8px 0 8px 0; font-weight: bold; }
#bodyAbonnementen .report h4                    { margin: 2%; }
#bodyAbonnementen .showDetail .contentText      { margin: 0px; }
#bodyAbonnementen .showDetail .RTE              { margin-top: 21px;}
#bodyAbonnementen .serieDetail .showOverview .dash          { margin-top: 2em; padding-top: 4px;} 
#bodyAbonnementen #voorstelling-navigatie                   { width: auto; top: 3px; right: -259px;}
#bodyAbonnementen .serieDetail #voorstelling-navigatie      { right: -259px;}
.abonOverview h3                                            { margin: 0!important;}

#prijzen dl                                 { width: 100%;}
#prijzen dd                                 { width: 20%; float: left;}
#prijzen dt                                 { width: 78%; float: right; }

#orderSerie #aantalForm                     { float: left; width: 100%; margin-top: 12px; }
#orderSerie #aantalForm  input.tiny         { float: left;  }
#orderSerie #aantalForm  label              { width: 70%; }
#orderSerie #aantalForm .ticketType         { clear:none; float:left; text-align:left; width:175px; }
#orderSerie input.toRight                   { border: 0px; height: auto; width: auto; margin: 0.5em;}

#betaalGegevensForm                             { font-size: 0.9em;}
#bodyBestelbonnementen  #aantalForm             { font-size: 1em;}
#bodyBestelbonnementen  #aantalForm .sum        { float: right; margin: 0px; }
#bodyBestelbonnementen  #aantalForm .subtotaal  { font-style:italic; margin-top:0;  }
#bodyBestelbonnementen  #aantalForm .label      { width: 300px; }
#aantalForm .price,
#aantalForm .ticketType                         { clear:none; float:left; text-align:right; width:160px;}
.incassoContainer                               { background: #f3f3f3; margin-top: 3em; }
.incassoContainer h4                            { font-weight: bold; padding: 2%;}  
.incassoContainer div                           { padding: 0 2%; }
.incassoContainer .text label                   { width: 130px!important;   }
.incassoContainer .text                         { padding: 0 2%; }
.incassoContainer em                            { font-style: italic; font-size: 0.9em; float: left; padding: 8px 0; }

/* ------- festivals ------ */

#bodyFestivals .contentItem                     { position: relative;}
.contentItem .serieTekst                        { margin-bottom: 12px;}

.festivalDetail #voorstelling-navigatie         { top: 0px; right: -32px;}

/* ------- zoeken search ------ */
#searchInformatie h4                { color: #df2626; font-size: 1.5em; font-weight: bold; line-height: 1em; margin: 8px 0 12px 0; }
#bodyZoeken .contentItem            { margin-bottom: 1em; position: relative; }
#searchInformatie .redDash p        { width: 90%; }
#searchInformatie, #searchConcerten, #searchfestivals,
#searchabonnementen, #searchSeries, #searchNews  { clear: both; }
#searchfestivals .btnImages a,
#searchabonnementen .btnImages a    { margin-top: 12px;}
#searchfestivals .showOverview h3,
#searchabonnementen .showOverview h3{ margin-top: 0px}

/* ------- sitemap ------ */
#sitemap ul { padding: 0 0 0.3em 0; }
#sitemap ul li { list-style:none; padding: 0 0 0.8em 0; float: left; clear: both; }
#sitemap ul.subitem li { background: transparent url(/images/sitemap_bg_subitem.gif) repeat-y 0 0; }
#sitemap ul.subitem li.last { background: transparent url(/images/sitemap_bg_subitem_last.gif) no-repeat 0 0; }
#sitemap ul.subitem li { margin: 0 0 0 1em; padding: 0 0 0 1em; list-style:none;}

/* --- abonnement bestelling --- */
.abonItem 			{ position: relative; float: left; width: 100%; }
.abonItem .remove 	{ right: 0px; top: 7px; position: absolute; }
#betaalGegevensForm input[type="button"] { margin: 10px 0px;  }
#betaalGegevensForm label.radio	{ width: 100%; margin-bottom: 10px;}
#betaalGegevensForm .field span { margin-left: 10px; margin-top: 5px;}
#betaalGegevensForm .field input[type="radio"] { margin-top: -3px;  }
.totalBlock			{ background: #F3F3F3; }


/* ------- report ------ */
.report 	    { text-align: left; min-height: 40px; background-color: #df2626; width: 100%; }
.report h4	    { display: none;  }
.report p	    { color: #fff; padding: 2%; }
.report strong	{ font-weight: bold;  }
.warning h4	    { background-position: -5px -4px!important; }
.notice h4	    { background-position: -5px -170px!important; }
.tip h4	        { background-position: -5px -60px!important; }
.mail h4	    { background-position: -5px -114px!important; }
.report ul      { margin: 2%; color: #fff; }

/* nieuwsbrief aanmelden */
.nieuwsbrieven legend  { font-weight: bold; color: #000; }


/* Richtext [`rt]
----------------------------------------------- */
.richtext p 
.richtext p,
.richtext h1, .richtext h2, .richtext h3,
.richtext h4, .richtext h5, .richtext h6,
.richtext dl,
.richtext table,
.richtext pre,
.richtext blockquote { margin: 1em 0; }

.richtext table {
	border-collapse: separate;
	table-layout: auto;
	border-spacing: 0.18em;
}
.richtext h2    { font-weight: bold; font-size: 1.3em; margin: 0.5em 0;}
.richtext h3    { font-weight: bold; font-size: 1.3em; margin: 0.5em 0;}
.richtext h4    { color: #df2626; font-size: 1em; font-weight: bold;}

.richtext th,
.richtext td { padding: 0.5em; }

.richtext blockquote {
	margin: 1em 0 1em 4em;
}

.richtext ul,
.richtext ol {
	margin: 1em 0 1em 2em;
	list-style: outside;
}
.richtext ul { list-style-type: disc; }
.richtext ol { list-style-type: decimal; }
/* various FCK features/styles */
.richtext .indent1 	{ margin-left: 2em; }
.richtext .indent2 	{ margin-left: 4em; }
.richtext .indent3 	{ margin-left: 6em; }
.richtext .justifyLeft	{ text-align: left; }
.richtext .justifyRight	{ text-align: right; }
.richtext .justifyCenter{ text-align: center; }
.richtext .justifyFull	{ text-align: justify; }
.richtext img.left	{ float: left;	margin: 1em 1em 1em 0; }
.richtext img.right	{ float: right;	margin: 1em 0 1em 1em; }
.richtext .plusje   { background: transparent url(/images/Icon_download.gif) no-repeat -3px 0px; text-indent: 21px; }
	
/* --- ecards / tip een vriend --- */
.ecard                      { position: relative;}
.ecardInvite                { width: 100%; }
.ecard form textarea,
.ecard form input           { width: 250px;  }
.ecard h5                   { padding-top: 0em;}
.ecard .dash .contentItem   { margin-bottom: 12px;}
.ecard h3                   { color: #df2626; font-size: 1.5em; font-weight: bold; line-height: 1em; margin: 8px 0 12px 0;}
.ecard input.btn-versturen  { background: none; float: right; width: 95px; height: 27px; position: relative; top: -45px; right: -5px; } 
.ecard #voorstelling-navigatie { position: absolute;  right: 0px; width: 20px;}
.ecard #formEcardForm fieldset { margin-top: 0px;}
.ecard .grayBlock           { float: left; width: 94%; background: #f3f3f3; margin-top: 0.5em; padding: 3%; }
.ecard .noText              { float: right; }
.ecard  form div            { margin: 0px;}
.ecard  form div div        { margin: 0.3em 0;}


/* FORMS [`form] */
input               { border: 1px solid #df2626; }
input.image         { border: 0px;  }
label				{ font: normal 1em/1.3em Arial; }
input.tiny          { width: 20px; }
input.submit        { background: #df2626; width: auto; color: #fff; border: 0px; min-height: 25px; padding: 2px 5px; font-weight: bold;  text-decoration: none;}
input.noborder,
input.checkbox      { border: 0px;}
legend              { color: #000; }
/* --- forms ---- */
#formButton		{ margin-left: 147px; }

form h5                 { font-size: 1em; font-weight: bold; padding: 1em 0 0.5em 0; float: left; width: 100%; }
.subItem input.text,
.subItem input.submit,
.select select          { border: 1px solid #000; padding: 4px; }
.select select#geslacht { border: 1px solid #df2626!important; }
select                  { border: 1px solid #c0c0c2!important; padding: 2px!important; font-size: 0.75em!important; text-transform: uppercase; }  
input.text              { font: 12px/normal arial, verdana, sans-serif; /* doens't inherit font & color properties from body */ }
input.text		        { min-height: 15px; /*  FF<3 uses classic box model here, we correct this via JS */  }
input.letters		    { width: 2em!important; }
input.cijfers		    { width: 4em!important; }
input.left		        { float: left; }
input.right		        { float: right; }
input.small             { width:50px !important;}
label.after             { float:none;margin:0 5px;}
body.FF2 input.text 	{ min-height: 20px } /* like this */
.txtLink 		        { display: block; border: 0px!important; background-color: transparent; font: 1.0em/1.333 Arial, Helvetica, sans-serif; cursor: pointer; text-align:left; }
.txtLinkHover 		    { text-decoration: underline; }
input.btnHover,
.button:hover,
.btnHover,
.buttonLink:hover	{ color: #000; cursor: pointer; text-decoration: underline; }
.button			{ background: transparent url(/images/new/button_bg.gif) repeat-x 0 0; border: 0px; /* padding: 2px 0.75em; */ color: #fff; font: 0.9em/1.333  Arial, Verdana,Helvetica, sans-serif; }
.submitImage		{ width: 283px; text-align: right;}
div textarea		{ border: 1px solid #df2626; }
/****** - selectboxes - */
div.selectbox-wrapper {
	position: absolute;
	/* width: 400px; */
	background-color: white;
	color: black;	
	max-height: 20em;
	overflow: auto;
}
div.selectbox-wrapper ul li 	{ display:block; padding: 2px; cursor: default; }
input.selectbox 		{ /* js selectbox */ padding-left:2px; /* width : 10em; */ display : block; cursor: default; }
input.submit:hover 		{ cursor: pointer; }
form .radiobutton input,
input.radio 			{ border: 0; }
/* - radio fields - */
form .radio 			{ margin: 4px 0 0 0; clear: both; }
fieldset.radio			{ margin-top: 1em;}
.radio input.radio 		{ float: left; height: 1.25em; /* necessary for better alignment in IE & Opera */ }
.radio label 		{ margin-left: 22px; display: block; font-weight: bold; min-height: 1.25em; }/*+ie6c*/
form.topdown div.field label 	{ margin-bottom: 0.75em; display: block; }
/*** Formcreator v1 */
form div 			{ float: left; width: 100%; margin: 0.3em 0 }
form .adres div, 
form .geslacht div,
form .geboortedatum div, 
form .postcode div,
form .telnr div 		{ width: auto; margin: 0; }
form .geslacht div.radiobutton 	{ float: none; }
form label			{ float: left; width: 12em; padding-top: 0.22em; color: #000; /* <> input v.center */ }
form .vragenlijstAntwoorden .radiobutton { margin: 0.5em 0 }
form .vragenlijstAntwoorden .textarea label  { display: none; }
form .radiobutton 		{ margin: 0em 0 }
form .radiobutton label,
form .checkbox label 		{ float: none;	width: auto; padding: 0; }
form .checkbox label 		{ float: none; width: auto }
form .checkbox input 		{ }
form .postcode input.postcodeCijfers { width: 4em }
form .postcode input.postcodeLetters { width: 2em }
form .telnr input.net  		{ width: 4em }
form .telnr input.abo  		{ width: 7em }
form .adres div,
form .postcode div,
form .telnr div,
form .geboortedatum div 	{ float: left }
form .adres input.adres 	{ width: 14em }
form .adres input.huisnummer 	{ width: 3em }
form .adres input.toevoeging 	{ width: 3em }
form .datum input.datumDay,
form .datum input.datumMonth 	{ width: 2em }
form .datum input.datumYear 	{ width: 4em }
/* Formcreator v1 ***/
form input#achternaam,
form input#telefoonnummer,
form input#woonplaats 		{ width: 15em }
form input#huisnummer 		{ width: 3em }
form input#tussenvoegsels,
form input#voorletters 		{ width: 4em }
form input#postcode 		{ width: 5em }
form input#email 		{ width: 20em }
form .submitBtn             { float: right; width: 100px; margin-top: 1em;}



/**
 * sIFR 3
 * 
 * @author Mark Wubben
 * @author AK
 * 
 * For licensing information, see sifr-3.436.min.js
 */

/* -- sIFR core styles -- */
.sIFR-flash {
	visibility: visible !important;
	margin: 0;
	padding: 0;
}

.sIFR-replaced, .sIFR-ignore {
	visibility: visible !important;
}

.sIFR-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

.sIFR-replaced div.sIFR-fixfocus {
	margin: 0pt; 
	padding: 0pt; 
	overflow: auto; 
	letter-spacing: 0px; 
	float: none;
}


/* -- sIFR replacement prepare styles -- */

.sIFR-active .sIFR-replaced object {
  display: block;
  width: 100%;
}

#bodyHome.sIFR-active #mainColumn h3,
.sIFR-active #content #nieuwsItem li h3 {
	line-height: 1.0em;
	font-size: 28px;
	margin-bottom: 0;
	visibility: hidden;
}

.sIFR-active .contentItem h3.redDash,
.sIFR-active .showDetail h3.contentText {
	line-height: 1.0;
	font-size: 39px;
	visibility: hidden;
}

#bodyConcerten.sIFR-active #content.showOverview h2,
#bodyConcerten.sIFR-active #content .mainInfo h2 {
	line-height: 1.0;
	font-size: 24px;
	margin-bottom: 0px;
	visibility: hidden;
}

.spHeaderCarice				{ width: 278px; height: 206px; margin-bottom: 12px; clear: both; background: url(/images/logo_nachtvanCarice.png) no-repeat; text-indent: -999999px; overflow: hidden; }

#twitter h2          		{ width: 76px; height: 18px; background: url(/images/titel_twitter.gif) no-repeat; text-indent: -999999px; overflow: hidden; }
#twitter a 					{ font-weight: bold; }
#twitter .follow			{ float: right; margin-top: -27px; }
#twitter .author			{ padding-bottom: 5px; }
#twitter .author a			{ font-size: 11px; color: #949290; text-transform: uppercase; }
#twitter .author a:hover	{ color: #000; }
.tweets						{ clear: both; }
.tweets li					{ border-top: 1px dotted #DF2626; padding: 10px 0 5px 0; }




/* --- flex --- */
.pagina #flexSelectWrapper .flexSelect				{ border-bottom:1px dotted silver; padding-bottom:5px; font-family: arial,verdana,helvetica,sans-serif;}
.pagina #flexSelectWrapper .flexDetails				{ background:none; width:310px; float:left; font-size:0.85em; margin:0;}
.pagina #flexSelectWrapper .flexDetails .flexName	{ font-weight:bold; }
.pagina #flexSelectWrapper .flexSelections 			{ background:none; float:right; width:145px; margin:0; font-size:0.8em; text-align:right;}
.pagina #flexSelectWrapper .flexSelections select	{ border: 1px solid #DF2626; }
.pagina #flexSelectWrapper .flexSelections label	{ background:silver; width:100px;  }

.pagina #orderFlexSerie form label					{ font-size: 0.9em; width: 15em; }
.pagina #orderFlexSerie form input#email			{ width:200px; }
.pagina #orderFlexSerie form .subtotaal				{ font-weight:bold;}

.pagina #orderFlexSerie form .submitBtn				{ width:80px; }
.pagina #orderFlexSerie #notification				{ font-size:1.1em; font-weight:bold; color:#EF1E0E;}

.pagina .overzichtTotal								{ margin:0; }
.pagina .overzichtTotal	.value						{ width:100px !important;}
.pagina .overzichtTotal	.label						{ font-weight:bold; width:300px;}
.pagina .overzichtTotal	span						{ display:block;}

.bestellingTitel									{ font-weight:bold; }
.bestellingOverzicht								{ font-size:0.85em; margin:5px 0 10px 0}

.flex .icon-leesmeer								{  }

.flexAbonnement form#betaalGegevensForm input,
.flexAbonnement form#betaalGegevensForm textarea	{ padding:0 5px;}