/* Utils */

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


/* Elements */
html, body, .container, .search-thing {
    height: 100%;
    padding: 0px;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
    //background-image: url('../img/section.jpg');
    //background-image: url('../img/background.jpg');
}

.header {
    height: 80px;
}

.nav {
    padding: 10px;
    background-color: #DDD;
    margin-bottom: 0px;
}
.content {
}

.result-title h1 {
    color: #EEE;
    font-weight: bold;
}

.search-left {
    background-color: #EEE;
    height: 80%;
    padding: 20px;
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
}

.results {
    background-color: white;
    height: 80%;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-left: 1px solid #CCC;
    overflow: scroll;
}


.results hr {
    border-color:#CCC;
    padding: 0px;
    margin: 0px;
}

.date-item {
    padding: 10px;
    margin: 0px;
    background-color: #DDD;
}

.result-item {
    padding: 10px;
    margin: 0px;
}

.result-img {
 padding: 10px;
}

.result-data {
    padding-top: 10px;
}
.result-data a {
    color: #ED903E;
    //color: #358A24;
    //color: #9c6619;
}



.result-descr {
    font-size: 14px;
}

.result-readmore {
    font-size: 14px;
    padding-top: 10px;
}

.result-details {
    color:gray;
    font-size: 12px;
    padding-top: 10px;
}

.input-small {
    width: 50px !important;
}

.input-group-addon{
    width: 70px;
}