body {
	padding-top: 40px;
	padding-bottom: 40px;
	
	background-image: url('../img/detroit-symphony-orchestra.jpg');
	background-size: cover;
}

.title {
	text-align: center;
	color: white;
}



/*** SEARCH BAR ***/
.form-search{
	width: 620px;
	height: 40px;
	padding:20px;
	
	background-color: #fff;
    border: 1px solid #e5e5e5; 
}


form.search-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -20px;
}

form.search-top {
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -320px;
}

.form-search input[type=text]{
	height: 40px;
	width: 540px;
	font-size: 23px;
}

.form-search button{
	height: 40px;
}



/*** RESULT LIST ***/

div.results{
	
	background: white;

	position: absolute;
	top: 140px;
	left: 50%;
	
	margin-left: -320px;
	width: 620px;
	padding: 20px;
	height: 600px;
}

div.result-item {
	width: 600px;
	padding: 10px;
	margin: 20px auto;

	background-color: #EEE;
	border: 1px solid #aaa;
}

div.result-item:hover {
	cursor: pointer;
}
